<div *ngIf="displayFooter">
  <nav class="navbar bottom navbar-light bg-light">
    <div class="w-100" style="background-color: #588157;">
      <div class="container mt-3 footer-config">
        <div class="footer-layer w-100">
          <div class="row">
            <div class="col-md-4">
              <h3>Physical Address</h3>
              <p>368 Morolong Section</p>
              <p>Kgabalatsane Village</p>
              <p>0194</p>
            </div>
            <div class="col-md-4">
              <h3>Contact Details</h3>
              <p>Cell: <span><a href="tel:818873059">081 887 3059</a></span></p>
              <p>Email: care@legaelabanaelc.com</p>
            </div>
            <div class="col-md-4">
              <h3>Operational Hours</h3>
              <p>Monday -Thursday: 7am - 3pm</p>
              <p>Fridays: 7am - 1pm</p>
              <p>Saturday - Sunday: Closed</p>
              <p>Public Holidays: Closed </p>
            </div>
          </div>
    
        </div>
      </div>
    </div>
    <div class="w-100">
      <div class="row powered">
          <p class="center-text footer-config">Powered by Digitron Marketing Consultants</p>
          <p class="center-text footer-config">Copyright © 2023 Legae La Bana - All Rights Reserved.</p>
      </div>
    </div>
  </nav>
</div>

