<!--
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./../../../assets/images/carousel/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./../../../assets/images/carousel/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./../../../assets/images/carousel/1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

-->
<div>
    <div>
      <img src="./../../../assets/images/carousel/banner.jpg" class="img-fluid banner" alt="...">
    </div>
    <div matRipple class="center-div mt-3">
      <img src="./../../../assets/images/register.jpg" class="img-fluid register-img " alt="...">
    </div>
    <mat-card class="mt-4">
        <mat-card-content>
            <h2 class="sub-title">About the center</h2>
            <p class="general-font">Legae La Bana Early Learning Centre (The Centre) is a non-profit organisation based in the rural area of Kgabalatsane (Morolong Section). The organisation was registered in March 2019 in response to shortage of Early Childhood Development (ECD) in the newly established section of Kgabalatsane.</p>
            <div class="mission-img-div">
                <img src="./../../../assets/images/about/mission_vision.png" class="d-block mission-img" alt="...">
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <h3 class="sub-title">Our mission</h3>
                    <p class="general-font">Legae La Bana Early Learning Centre provide Holistic Care for learners through promoting quality of life. </p>
                </div>
                <div class="col-md-4">
                    <h3  class="sub-title">Our vision</h3>
                    <p class="general-font">:To be a caring organisation and light of hope for the children and community of Kgabalatsane. </p> 
                </div>
                <div class="col-md-4">
                  <h3  class="sub-title">Our values</h3>
                  <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Responsibility
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p class="general-font">The Centre is responsible and determined to create and build better future for the children of Kgabalatsane and surrounding areas. Commitment is our huge responsibility.
                      </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Excellence
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p class="general-font">We as Legae La Bana E.L.C are committed to a continuous state of excellence throughout everything we do. We are passionate about early learning childhood and service excellence.
                      </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Education
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p class="general-font">We believe that early learning promotes positive leaning experiences and provide an opportunity to succeed in life.
                      </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Quality
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p class="general-font">Every child deserves excellence in all learning programmes and services to create a strong foundation in their lives and our community. Quality education is what we offer.
                      </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Integrity
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p class="general-font">We believe integrity is the foundation of our organisation and it promotes effective relationship and team work in the Centre.
                      </p>
                    </mat-expansion-panel>

                  </mat-accordion>
              </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>