<div style="margin-top: 70px;">
    <mat-card>
        <mat-card-content>
            <p class="general-font">Our facilities are comprised of for primary sections:</p>

            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Classrooms
                    </mat-panel-title>
                    <mat-panel-description>
                     If your dreams don't scare you 
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row">
                      <div class="col-md-6 col-sm-12">
                          <img class="img-fluid" src="../../../assets/images/center/computer.png" width="600" height="350"/>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <p class="general-font">Our classes are structured is such that everything needed for classroom learning is made available without compromising the overall space. We have not more than 25 kids sitting classrooms, giving us an ability to easily focus on our children individually.</p>
                    </div>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Computer Center
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img class="img-fluid" src="../../../assets/images/center/computer.png" width="600" height="350"/>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <p class="general-font">Our classes are structured is such that everything needed for classroom learning is made available without compromising the overall space. We have not more than 25 kids sitting classrooms, giving us an ability to easily focus on our children individually.</p>
                  </div>
                </div>
                </mat-expansion-panel>


                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Play Area
                    </mat-panel-title>
                    <mat-panel-description>
                     
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img class="img-fluid" src="../../../assets/images/center/computer.png" width="600" height="350"/>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <p class="general-font">Our classes are structured is such that everything needed for classroom learning is made available without compromising the overall space. We have not more than 25 kids sitting classrooms, giving us an ability to easily focus on our children individually.</p>
                  </div>
                </div>
                </mat-expansion-panel>


                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Sick Bay
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img class="img-fluid" src="../../../assets/images/center/computer.png" width="600" height="350"/>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <p class="general-font">Our classes are structured is such that everything needed for classroom learning is made available without compromising the overall space. We have not more than 25 kids sitting classrooms, giving us an ability to easily focus on our children individually.</p>
                  </div>
                </div>
                </mat-expansion-panel>
              </mat-accordion>



        </mat-card-content>
      </mat-card>

</div>
