/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.sub-title {
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: rgba(88, 129, 87, 0.5);
    border: 2px solid #588157;
}

.center-div {
    display: flex;
    justify-content: center;
}

.general-font {
    font-size: 1rem;
}

.center-text {
    text-align: center;
}